* {
    margin : 0px;
    box-sizing: content-box;
}

main *{
 padding: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("formulario.avif");
    background-size: cover;
    color: white;
    text-align: center;  
    padding: 78px 0;   
}

input[type=submit] {
    width: 100%;
    padding: 0.8rem;
    background: white;
    color: black;
    border-radius: 0.2rem;
    cursor: pointer;
}

h1{
    font-size: xx-large;
}

h2 {
    font-size: small;
}

.form-input{
    margin: 0 2.5rem 1.2rem 2rem;
}

.form-input-size{
    display: block;
    width: 100%;
    height: 1.5rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    outline: 0;
    border-style: none;
    margin-top: 0.4rem;  
 }

#survey-form{
    padding: 2.3rem 0.5rem;
    border-radius: 0.3rem;
}

#radio-btn,
#check-box {
 margin-right: 0.5rem;
 min-height: 1.2rem;
 min-width: 1.2rem;
}

textarea{
    width: 100%;
    min-height: 6rem;
    resize: vertical;
    padding: 0.5rem 0 0 0.5rem;
}

.radio {
	display:inline-block;
	vertical-align:middle;	
    margin-left:20px;
}

.choices {
    text-align: left;    

}

.checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
