body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 78px 0 78px 0;
}

.banner {
    position: relative;
    color: white;
    text-align: center;
    width: 100%;
    /* background-color: black; */
}

.banner-text {
    padding: 50px;
}

.banner-text h1 {
    font-size: xx-small;
    margin-block-end: 12px;
}

.banner-text p {
    font-weight: bold;
    font-size: large;
    margin-block-start: 3px;
    margin-block-end: 3px;
}

video {
    opacity: 0.50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}

footer {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}