*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; 
}

body{
 background-color: #F0F4F7;
 min-height: 100vh;
 }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

@media screen and (max-width: 481px){
    .title{
        text-align: center;
        font-size: 40px;
        color:#6e768d;
        margin-top: 59px;
        font-weight: 100;
    }
     h1{
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .subtitle{
        text-align: center;
        font-size: 20px;
        color:#b4bdc6;
        margin-top: -32px;
        font-weight: 100;
        margin-bottom: 40px;
    
    }
    .card{
    width: 400px;
    min-height: 250px;
    overflow: hidden;
    border-radius:2%;
    margin: 10px;
    text-align: center;
    color: #717787;
    background-color: rgb(255, 255, 255);
        }

    .bronze {
    width: 400px;
    height: 366px;
    overflow: hidden;
    border-radius:2%;
    margin-left:20px;
    margin-right: 20px;
    text-align: center;
    color: #717787;
    background-color: white;        
            
        } 

    .card h3{
    display: flex;
    justify-content: center;
    margin: 15px;
        }
        
    .card .number {
    font-size: 20px;
    padding-bottom: 13px;
    padding-top: 31px; 
         }

    .bronze .number {
    font-size: 20px;
    padding-bottom: 13px;
    padding-top: 31px; 
        }

    .bronze .blue{
        background-color:#3bbdee;
        font-size: 0.55rem;
        border-radius: 50%;
        position: absolute;
        color: rgb(250, 250, 250);
        width: 10%;
        height: 7%;
    }

    .bronze button{
        border-radius: 10%;
        width: 40%;
        background-color: #74ce6a;
        font-weight: lighter;
        color: white;
        padding: 8px;
        box-shadow:  #66ac64;
        margin: 29px;
        border-color: #74ce6a;

        }

    .bronze ul{
    padding: 4px;
    list-style: none;
         }
    .bronze li{
     padding: 4px;
     font-weight: 300;
         }
        
    .card ul{
    padding: 4px;
    list-style: none;
        }
    .card li{
    padding: 4px;
    font-weight: 300;
        }
    .card button{
    border-radius: 10%;
    width: 40%;
    background-color: #74ce6a;
    font-weight: lighter;
    color: white;
    padding: 8px;
    box-shadow: #74ce6a;
    margin: 29px;
    border-color: #74ce6a;
        }

  .card:hover button{
    border:2px;
    box-shadow: none;
      }
    .bronze:hover button{
    border: 2px;
    box-shadow: none;
             }

    span {
    font-size: 20px;
    width: 26px;
    height: 28px;
    background-color: #74ce6a;
    border-radius: 50%;
    color: white;
    line-height: 2px;
    margin: 20px;;
          }

}

@media screen and (min-width: 481px) and (max-width:1024px) {

    .title{
        text-align: center;
        font-size: 40px;
        color:#6e768d;
        margin-top: 59px;
        font-weight: 100;
    }
     h1{
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .subtitle{
        text-align: center;
        font-size: 20px;
        color:#b4bdc6;
        margin-top: -32px;
        font-weight: 100;
        margin-bottom: 40px;
    
    }   
 .card{
    width: 600px;
    height: 130px;
    overflow: hidden;
    margin: 10px;
    margin-left: 210px;
    margin-right: 171px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #717787;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;

}
    
     .bronze {
    width: 600px;
    height: 177px;
    display: flex;
    margin-left: 41px;
    margin-right: -2px;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    color: #717787;
    background-color: white;
    border-radius: 3%;
                
            }
    .card li{
    padding: 4px;
     font-weight: lighter;
                       }

    .bronze ul{
        padding: 4px;
        list-style: none;
                }
    .bronze li{
         padding: 4px;
         font-weight: lighter;
    }
            
     .card .number {
        font-size: 20px;
      padding-bottom: 15px; 
      padding-left: 41px;
             }
    .card p{
        padding-left: 40px;
    }

    .bronze p{
        padding-left: 35px;
    }
    .bronze .number {
                font-size: 20px;
              padding-bottom: 15px; 
              padding-left: 41px;
    }
     .card ul{
    padding: 4px;
    list-style: none;
            }
     
    .card button{
    border-radius: 10%;
    font-weight: lighter;
    background-color: #74ce6a;
    color: white;
     padding: 10px;
     box-shadow: #74ce6a;
     margin: 22px;
    border-color: #74ce6a;
            }
    
    .bronze .blue{
        background-color: #3bbdee;
        font-size: 0.65rem;
        border-radius: 50%;
        padding: 5px;
        position: flex-end;
        color: rgb(250, 250, 250);
        width: 18%;
        height: 10%;
        font-weight: lighter;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
            }


    .bronze button{
    border-radius: 10%;
    background-color: #74ce6a;
    color: white;
    padding: 12px;
    font-weight: lighter;
    margin-right: 20px;
    box-shadow: #74ce6a;
    margin-bottom: 20px;
    border-color: #74ce6a;
    }

    span {
        font-size: 20px;
        width: 26px;
        height: 28px;
        background-color: #74ce6a;
        border-radius: 50%;
        color: white;
        line-height: 2px;
        margin: 20px;;
              }
    .card:hover button{
    border:2px;
                }
    .bronze:hover button{
     border: 2px;
     }

 }

@media screen and (min-width:1025px){
    .title{
        text-align: center;
        font-size: 3rem;
        color:#6e768d;
        margin-top: 59px;
        font-weight: 100;
    }

    
    .subtitle{
        text-align: center;
        font-size: 1.4rem;
        color:#b4bdc6;
        margin-top: -32px;
        font-weight: 100;
        margin-bottom: 40px;
    
    }
    
    .card{
        width: 280px;
        height: 500px;
        overflow: hidden;
        margin: 10px;
        display: block;
        text-align: center;
        color: #717787;
        background-color: white; 
        border-radius: 3%;
    
    }
    
    .bronze {
        width: 300px;
        height: 500px;
        margin: 10px;
        overflow: hidden;
        text-align: center;
        display: block;
        color: #717787;
        background-color: white;
        border-radius: 3%;
        
    }
    .card .number{
    display: flex;
    font-size: 1.5rem;
    padding-top: 24px;
    line-height: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    }

    .bronze .number{
    display: flex;
    font-size: 1.5rem;
    line-height: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    }

    .card .number .S{
        padding: 20px;
    }
    
    p .card .bronze{
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: solid 3px #f3f3f3;
    border-bottom: solid 3px #f3f3f3;

    }
    
     .card li{
         align-items: center;
         justify-content: center;
         font-weight: lighter;
    
     }

    .card ul{
        padding-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border-bottom: 2px solid #f3f3f3;
        line-height: 55px;
        list-style: none;
    }
    
    .bronze ul{
        padding-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border-bottom: 2px solid #f3f3f3;
        line-height: 50px;
        list-style: none;
    }

    ul li {
        list-style: none;
        margin-bottom: -22px;
        font-weight: lighter;
      }

      .card button{
        margin-top: 50px;
        border-radius: 10%;
        background-color: #74ce6a;
        color: white;
        padding: 12px;
        box-shadow: #74ce6a;
        margin-bottom: 20px;
        border-color: #74ce6a;
        font-weight: lighter;
    }

      .bronze button{
        margin-top: 20px;
        border-radius: 10%;
        background-color: #74ce6a;
        color: white;
        padding: 12px;
        box-shadow: #74ce6a;
        margin-bottom: 20px;
        font-weight: lighter;
        border-color: #74ce6a;
    }

    .bronze .blue{
    background-color: #3bbdee;
    font-size: 0.65rem;
    border-radius: 50%;
    padding: 5px;
    position: flex-end;
    color: rgb(250, 250, 250);
    width: 18%;
    height: 10%;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
               }

  span {
    padding: 3px;
    font-size: 0.80rem;
    background-color: #74ce6a;
    border-radius: 50%;
    color: white;
    margin: 20px;
  }
.bronze:hover{
    transform: scale(1.08);
    animation-duration: 0.3s;
    
}

.card:hover{
    transform: scale(1.08);
    animation-duration: 0.3s;

}
.blue:hover{
        transform: scale(2.1);
        -webkit-transform: rotateY(360deg);
        transition: transform 0.5s ease;
    }
    
button:hover {
    border:2px;
    }
}


